.tasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1.5rem;

    position: absolute;
    width: 46rem;
    height: 18rem;
    left: calc(50% - 46rem/2);
    top: 18rem;
}

.infoTasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 35rem;

    width: 736px;
    height: 19px;
}

.infoTasks p {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.createdTasks {
    width: 106px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: var(--blue);
}

.doneTasks {
    width: 78px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: var(--purple);
}

.emptyTasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    gap: 16px;

    color: var(--gray-400);
    width: 736px;
    height: 244px;

    border-top: 1px solid #333333;
    border-radius: 8px;
}

.clipboardImg {
    width: 56px;
    height: 56px;
}

.emptyTasks strong {
    font-weight: 700;
    color: var(--gray-300);
}

.emptyText {
    width: 688px;
    height: 44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    text-align: center;

    color: var(--gray-300)
}